{% extends "layout.html" %}
{% block body %}


{{ checklist }}

<br>
<br>
This is the selected inventory. <br>

    {% for item in selected_inventory %}
        <ul><li>
            {{ item }}
        </ul></li>
    {% endfor %}
<br>
<br>

<br>
<br>
These are the resulting sets that already exist. (and/or that can be formed if you add this new item)<br>
You can currently access {{ existing_sets|length }} combinations.

    {% for set in existing_sets %}
        <ul><li>
            {{set}}
        </ul></li>
    {% endfor %}

<br>
<br>
For testing purposes:

    <ul>
    {% for set_obj in result_test %}
        <li> {{set_obj}} <br>
            <ul>
                <li>
                    Matching items: 
                        {% for item in set_obj.items_matching %}
                            {{item}}
                        {% endfor %}
                </li>
                <li>
                    Missing items:
                        {% for item in set_obj.items_missing %}
                            {{item}}
                        {% endfor %}
                </li>
                <li> Total items: {{ set_obj.total_items }} </li>
                <li> Percent match: {{ set_obj.percent_match }} </li>
            </ul>
        </li>
    <br>
    {% endfor %}
    </ul>


<br>
<br>
These are the potential new items.
<br>
    {% for item in suggested_items %}
        <ul><li>
            {{item}} ----- <a href="{{  url_for("update_combinations")  }}">what if i added this?</a>
        </ul></li>
    {% endfor %}

{% endblock %}