{% extends "layout.html" %}
{% block body %}


    <!-- Heading for Sets section -->

    {% if which_run == "initial" %}

        <div class = "my-heading">
            Dress like a rockstar (not a hobo)
        </div>

        <div class = "my-explanation">
            try pairing the items you already own into one of these {{ existing_sets|length }} combinations
        </div>

    {% else %}

        <div class = "my-heading">
            YES! More options
        </div>

        <div class = "my-explanation">
            just like rachel zoe says. <em>"OPTIONS! I need more OPTIONS."</em><br>
            now you can access <span id="my-larger-text">{{ existing_sets|length }}</span> combinations
        </div>

    {% endif %}


    <!-- Showing the sets -->

    {% for set in existing_sets %}
        <div class = "my-set">
            <img src = "{{ set.imgurl }}">
            {{ set.imgurl }} <br>
            Items matching: {{ set.items_matching }} <br>
            Items missing: {{ set.items_missing }}
        </div>
    {% endfor %}


    <!-- Heading for the Suggested Items section -->

    {% if which_run == "initial" %}

        <div class = "my-heading">
            But I want more!
        </div>

        <div class = "my-explanation">
            who says shopping can't be a science? you need to allocate your money wisely <br>
            try picking one of the following items and see how it expands your available outfits <br>
            remember, even a $400 pair of shoes can be amortized to a $1 cost per wear
        </div>

    {% else %}

        <div class = "my-heading">
            And more...
        </div>

        <div class = "my-explanation">
            keep going down the path of financial irresponsibility. wait, we meant RESPONSIBILITY. <br>
            nothing could be more fiscally responsible than using algorithms to make cost-effective purchasing decisions.
        </div>

    {% endif %}

    <!-- Grid for suggested items -->

    <form action = "{{  url_for("combinations")  }}" method = "POST">

        {% for group in suggested_items %}

            <div class="row-fluid">
                <div class = "span3">
                    <img class = "my-item-image" src = "{{ group[0].imgurl }}">
                    {{ group[0].imgurl }}
                    <input type="checkbox" name="{{ group[0].item_id }}" value=1>
                </div>
                <div class = "span3">
                    <img class = "my-item-image" src = "{{ group[1].imgurl }}">
                    {{ group[1].imgurl }}
                    <input type="checkbox" name="{{ group[1].item_id }}" value=1>
                </div>
                <div class = "span3">
                    <img class = "my-item-image" src = "{{ group[2].imgurl }}">
                    {{ group[2].imgurl }}
                    <input type="checkbox" name="{{ group[2].item_id }}" value=1>
                </div>
                <div class = "span3">
                    <img class = "my-item-image" src = "{{ group[3].imgurl }}">
                    {{ group[3].imgurl }}
                    <input type="checkbox" name="{{ group[3].item_id }}" value=1>
                </div>
            </div>

        {% endfor %}

        <div class="my-footer">
                <input type="submit" value="what happens if I add these?" class = "my-button">
        </div>

    </form>

    <!-- Footer at the bottom -->

    <div class="my-footer">
        <a href = "{{  url_for("clear_hypotheticals")  }}">return to original results</a> | 
        <a href = "{{  url_for("clear_inventory")  }}">start over from beginning</a>
    </div>


{% endblock %}












