{% extends "layout.html" %}
{% block body %}


{{ checklist }}

<br>
<br>
This is the selected inventory. <br>

    {% for item in selected_inventory %}
        <ul><li>
            {{ item }}
        </ul></li>
    {% endfor %}
<br>
<br>

<br>
<br>
These are the resulting sets that already exist. (and/or that can be formed if you add this new item)<br>
You can currently access {{ existing_sets|length }} combinations.

    {% for set in existing_sets %}
        <ul><li>
            {{ set.set_id }}
        </ul></li>
    {% endfor %}

<br>
<br>
For testing purposes:

    <ul>
    {% for set in existing_sets %}
        <li> {{ set }} : {{ set.set_id }} <br>
            <ul>
                <li>
                    Matching items: 
                        {% for item in set.items_matching %}
                            {{ item }},
                        {% endfor %}
                </li>
                <li>
                    Missing items:
                        {% for item in set.items_missing %}
                            {{ item }},
                        {% endfor %}
                </li>
                <li> Total items: {{ set.total_items }} </li>
                <li> Percent match: {{ set.percent_match }} </li>
            </ul>
        </li>
    <br>
    {% endfor %}
    </ul>


<br>
<br>
These are the potential new items.
<br>

    <form action = "{{  url_for("combinations")  }}" method = "POST">

        <input type="submit" value="what if i added these?">

            <ul>
            {% for item_id in suggested_items %}

                <li>
                {{ item_id }} <input type = "checkbox" name = "{{  item_id  }}" value = 1>
                </li>

            {% endfor %}
            </ul>

    </form>

{% endblock %}












