{% extends "layout.html" %}


{% block head %}
    <script type = 'text/javascript'>
    </script>
{% endblock %}


{% block body %}

    <!-- Heading -->

    {% if initial_round %}

        <div class="my-heading">
            Tell me, what's in your closet?
        </div>

        <div class="my-explanation">
            select the items that are closest to what you already own
        </div>

    {% else %}

        <div class="my-heading">
            Keep going...
        </div>

        <div class="my-explanation">
            based on what you told us, we think you might own a few other things
        </div>

    {% endif %}

    <!-- Line divider -->

    <div class = "my-line-separator">
        line
    </div>
    <br>

    <!-- Grid of items to select -->

    <div class = "my-item-grid-container">

    <form action="{{  url_for("next_inventory")  }}" method="POST">

        {% for group in potential_inventory %}

            <div class="row-fluid">
                <div class = "span3">
                    <img class = "my-item-image" src = "{{ group[0].imgurl }}" alt = "{{ group[0].imgurl }}">
                    <br>
                    <input type="checkbox" name="{{ group[0].item_id }}" value=1>
                </div>
                <div class = "span3">
                    <img class = "my-item-image" src = "{{ group[1].imgurl }}" alt = "{{ group[1].imgurl }}">
                    <br>
                    <input type="checkbox" name="{{ group[1].item_id }}" value=1>
                </div>
                <div class = "span3">
                    <img class = "my-item-image" src = "{{ group[2].imgurl }}" alt = "{{ group[2].imgurl }}">
                    <br>
                    <input type="checkbox" name="{{ group[2].item_id }}" value=1>
                </div>
                <div class = "span3">
                    <img class = "my-item-image" src = "{{ group[3].imgurl }}" alt = "{{ group[3].imgurl }}">
                    <br>
                    <input type="checkbox" name="{{ group[3].item_id }}" value=1>
                </div>
            </div>

        {% endfor %}

        <div class="my-button-footer">
                <input type="submit" value=" continue " class = "my-button">
        </div>

    </form>

    </div>

    <!-- Footer -->

    <div class = "my-line-separator">
        line
    </div>

    <div class="my-footer">
        <a href = "{{  url_for("next_inventory")  }}">give me some different options</a> | 
        <a href = "{{  url_for("clear_inventory")  }}">start over</a>
    </div>


{% endblock %}








