{% extends "layout.html" %}





{% block head %}

    <script type = 'text/javascript'>
    </script>


{% endblock %}





{% block body %}

    {% if initial_round %}

        <div class="my-heading">
            Tell me, what's in your closet?
        </div>

        <div class="my-explanation">
            select the items that are closest to what you already own
        </div>

    {% else %}

        <div class="my-heading">
            Keep going...
        </div>

        <div class="my-explanation">
            based on what you told us, we think you might own a few other things
        </div>

    {% endif %}

    <br>
    <br>

{#  JINJA BLOCK COMMENT. USED EARLIER FOR TESTING ONLY.

    {% if not initial_round %}

        Last time you chose: <br>

        {% for item in this_round_selection %}
            <ul><li>
                {{ item }}
            </li></ul>
        {% endfor %}

        <br>
        Here is everything you've chosen so far:
        <br>

        <ol>
        {% for item in total_inventory %}
            <li> {{ item }} </li>
        {% endfor %}
        </ol>

    {% endif %}

    END OF JINJA BLOCK COMMENT.
#}


    <form action="{{  url_for("next_inventory")  }}" method="POST">

        {% for group in potential_inventory %}

            <div class="row-fluid">
                <div class = "span3">
                    {{ group[0].item_id }}
                    <input type="checkbox" name="{{ group[0].item_id }}" value=1>
                </div>
                <div class = "span3">
                    {{ group[1].item_id }}
                    <input type="checkbox" name="{{ group[1].item_id }}" value=1>
                </div>
                <div class = "span3">
                    {{ group[2].item_id }}
                    <input type="checkbox" name="{{ group[2].item_id }}" value=1>
                </div>
                <div class = "span3">
                    {{ group[3].item_id }}
                    <input type="checkbox" name="{{ group[3].item_id }}" value=1>
                </div>
            </div>

        {% endfor %}

        <div class="my-button">
                <input type="submit" value="continue">
        </div>

    </form>


    <div class="my-footer">
        <a href = "{{  url_for("next_inventory")  }}">give me some different options</a> | 
        <a href = "{{  url_for("clear_inventory")  }}">start over</a>
    </div>


{% endblock %}








