<!DOCTYPE html>
<!-- layout template -->

<html>

    <head>
        <title>Proteus: Fashion Amoeba</title>
        <!-- <link rel = "stylesheet" href = "/static/css/bootstrap.css" type = "text/css"> -->

        {% block head %}
        {% endblock %}
        
    </head>

    <body>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <a href = "{{  url_for("start")  }}">back to start page</a> | 
        <a href = "{{  url_for("clear_inventory")  }}">clear inventory</a>

        {% block body %}
        {% endblock %}



    </body>

</html>