<!DOCTYPE html>
<!-- layout template -->

<html>

    <head>
        <title>Proteus: Fashion Amoeba</title>
        <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen">

        {% block head %}
        {% endblock %}
        
    </head>

    <body>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}



        <div class="container">

            {% block body %}
            {% endblock %}

        </div>


    </body>

</html>